.category{
    /* margin: 30% auto;
    border: 1px solid rgb(146, 141, 141);
    border-radius: 9px;
    width: 30%;
    padding: 2%;
    /* -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc; */
  /* box-shadow: 6.3px 12.6px 12.6px hsl(0deg 0% 0% / 0.30);  */
  padding:4%;
  display:"flex";
  justify-content: center;
  width:50%
}
.form-container{
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px grey; 
  padding: 4%; 
  border-radius:10px;
}
.label{
    font-weight: 600;
}
